.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

#display {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
